.layer1 {
    position: absolute; /* Абсолютное позиционирование */
    left: 1000px; /* Положение от левого края */
    background: #fc3; /* Цвет фона */
    margin: 7px; /* Отступы вокруг элемента */
}

#square {
    width: 120px;
    height: 120px;
    background: #f447ff;
}

table td {
    overflow: hidden;
    width: 18px;
}

table td:nth-of-type(1) {
    background-color: #f447ff;
}

table td:nth-of-type(2) {
}

table td:nth-of-type(3) {
}

#canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}